.postCard {
    display: flex;
    width: 75%;
    height: fit-content;
    margin: auto;
    text-align: start;
    flex-direction: column;
    border: 2px white solid;
    margin-top: 5%;
    margin-bottom: 5%;
}