.header {
    display: flex;
    align-items: center;
    gap: 5%;
    border: 2px white solid;
    margin-bottom: 10%;
    width: 100%;
    height: 25%;
    padding: 5%;
    float: left;
}

.loginstatus {
    position: relative; /* Don't know if this is the right fix either */
    left: 10%;          /* To help with moving it to the right side... */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: grey;
    width: 25%;     /* The width works here */
    height: 20em;   /* Need to figure out why em works, but not height */
    flex-direction: column;
    border-radius: 25%;
    border: 2px white solid;
}

.loginstatus button {
    width: 40%;
    height: 15%;
    font-size: large;
}

.mainImage {
    border-radius: 25%;
    width: 15%;
    height: 15%;
}